<div class="header-block">
  <div>
    <img (click)="openReview()" class="header-block__logo" src="assets/img/logo_notitia.svg" alt="">
  </div>
  <div style="display: flex; align-items: center">
    <div style="cursor: pointer" (click)="openDataSet()">Añadir Datos</div>
    <div style="margin: 0 10px; width: 2px; height: 20px;background: black"></div>
    <div style="cursor: pointer" (click)="openStatics()">Ver estadísticas</div>
    <div style="margin: 0 10px 0 90px">Administradora</div>
    <img style="cursor: pointer" src="assets/img/name.png" (click)="logout()" alt="">
  </div>
</div>
