<div>
  <app-header-menu-admin></app-header-menu-admin>
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center">
    <div style="width: 1000px;">
      <div class="title-admin">Estadísticas</div>
      <div class="statics-block">
        <img class="statics-block__img1" src="assets/img/img_1.png" alt="">
        <img class="statics-block__img1" src="assets/img/img_2.png" alt="">
        <img class="statics-block__img1" src="assets/img/img_1.png" alt="">
      </div>
    </div>
  </div>
  <app-footer-block></app-footer-block>
</div>
