.title-admin {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  color: #4F4F4F;
}

.statics-block {
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  &__img1 {
    width: 100%;
    margin: 30px 0;
  }
}
